fastapi==0.95.0
uvicorn==0.21.0
torch==2.0.0+cu117
pillow==9.3.0
huggingface_hub==0.15.0
diffusers==0.18.0
transformers==4.28.0
numpy==1.24.1
opencv-python-headless==4.7.0.72
timm==0.6.13
python-multipart==0.0.5
